//! **************************************************************************
// Written by: Map P.20131013 on Tue Jan 24 14:29:42 2017
//! **************************************************************************

SCHEMATIC START;
COMP "a_button" LOCATE = SITE "K18" LEVEL 1;
COMP "switch0" LOCATE = SITE "L13" LEVEL 1;
COMP "e_button" LOCATE = SITE "H13" LEVEL 1;
COMP "switch1" LOCATE = SITE "L14" LEVEL 1;
COMP "switch2" LOCATE = SITE "H18" LEVEL 1;
COMP "switch3" LOCATE = SITE "N17" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
COMP "led0" LOCATE = SITE "F12" LEVEL 1;
COMP "led1" LOCATE = SITE "E12" LEVEL 1;
COMP "led2" LOCATE = SITE "E11" LEVEL 1;
COMP "led3" LOCATE = SITE "F11" LEVEL 1;
COMP "led4" LOCATE = SITE "C11" LEVEL 1;
COMP "b_button" LOCATE = SITE "G18" LEVEL 1;
COMP "led5" LOCATE = SITE "D11" LEVEL 1;
COMP "led6" LOCATE = SITE "E9" LEVEL 1;
COMP "led7" LOCATE = SITE "F9" LEVEL 1;
COMP "n_button" LOCATE = SITE "V4" LEVEL 1;
COMP "r_button" LOCATE = SITE "V16" LEVEL 1;
COMP "s_button" LOCATE = SITE "K17" LEVEL 1;
COMP "w_button" LOCATE = SITE "D18" LEVEL 1;
NET "CLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

